.box-1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 7px olivedrab solid;
    background-color: lightslategray;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    padding: 7px 5px 7px 5px;
    margin: 20px;
}
.box-2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 7px midnightblue solid;
    background-color: lightyellow;
    padding: 5px;
    margin: 20px;
}
.center {
    margin: 0 auto;
    width: 500px;
    
}
.navigation li {
    display: inline;
    margin: 5px;
    padding: 10px;
    background-color: lightgray;
    }

